@page
@model Mission09_brd48.Pages.MadePurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thank you for your purchase!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>